{{/*
  Tipografia original do projeto.
  Fraunces é variável: pedimos os eixos SOFT, WONK e opsz num
  único arquivo, mais leve que vários pesos estáticos.
*/}}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,600;9..144,700&family=Karla:ital,wght@0,400;0,600;0,700;1,400&display=swap"
  rel="stylesheet"
/>

<meta name="theme-color" content="#F7F2E4" />

